body {
  margin: 15px 15px 15px 20px;
  margin: 0 100px;
}
#col-1 {
  position: relative;
  width: 70%;
  float: left;
  height: 100%;

  /* z-index: 1010101010; */
}

#col-2 {
  position: relative;
  width: 30%;
  float: right;
  height: 100%;

  /* z-index: 1010101010; */
}
.inline-elements {
  display: inline;
  padding: 0rem 0.5rem;
}
.heading {
  color: blue;
}
